// @font-face {
//   font-family: "Articulat";
//   src: url("../fonts/ArticulatCF-Bold.woff2") format("woff2"),
//     url("../fonts/ArticulatCF-Bold.woff") format("woff");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
