// @import "fonts.scss";
// @import "variable.scss";

// html,
// body {
//   width: 100%;
//   overflow-x: hidden !important;
//   font-family: "Articulat", sans-serif;
//   background-color: $bgLight;
// }

// body #__next {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100vh;
//   overflow-y: hidden;
//   overflow-x: hidden !important;
// }

// ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// p,
// a,
// span,
// i,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// strong,
// b {
//   font-family: "Articulat", sans-serif;
//   font-weight: 450;
// }

// p,
// a,
// span,
// i {
//   color: $gray700;
//   font-size: $desc;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// strong,
// b {
//   color: $gray800;
// }
